@import "content.less";
@import "section-bottom-title.less";
@import "section-title.less";
@import "article.less";
@import "footer.less";
@import "faq.less";
@import "row.less";
@import "navbar.less";

@white: #fff;
@darkblue: #323334;
@lightorange: #F8F4E7;
@border: 1px solid #DFDEDB;
@text-color: #FCFDFD;
@text-color-dark: #384353;
@title-color: #F5F4F3;
@maxwidth: 698px;

body {
    margin: 0;

    .page1 {
        height: 737px;
        color: @text-color;
        background-color: @text-color;
        overflow-x: hidden;
        background: url('/assets/img/page1/page1.png') center center/cover no-repeat;

        .content {
            text-align: center;
            justify-content: center;
            padding-top: 2rem;

            @media (max-width: @maxwidth) {
                padding-top: 11.44rem;
            }

            .section-title-main {
                font: 400 7rem/90% Reckless Neue;
                letter-spacing: -0.3rem;
                margin-bottom: 3rem;

                @media (max-width: @maxwidth) {
                    font-size: 2.25rem;
                    line-height: 2.625rem;
                    letter-spacing: -0.045rem;
                    margin-bottom: 2.5rem;
                }
            }

            button {
                padding: 0.5rem 2.25rem;
                border: none;
                border-radius: 0.5rem;
                background: @lightorange;
                font: 400 0.95rem/0.875rem Neue Montreal;
                letter-spacing: 0.075rem;
            }
        }
    }

    .page2 {
        height: 1084px;
        overflow-x: hidden;
        @media (max-width:698px) {
            height: 700px;    
        }

        .section-content {
            text-align: center;
            color: @darkblue;
            position: absolute;
            margin-top: 15rem;
            @media (max-width:698px) {
                margin-top: 8rem;
            }

            h3 {
                font: 400 72px/100% Reckless Neue;
                letter-spacing: -3.6px;
                margin-bottom: 2.5rem;
            }

            p {
                margin-left: 29rem;
                margin-right: 29rem;
                font: 400 15px/19px Neue Montreal;

                @media (max-width:1285px) {
                    margin-left: 20rem;
                    margin-right: 20rem;
                }
            }

            button {
                font: 400 0.75rem/0.875rem Neue Montreal;
                padding: 0.5rem 2.25rem;
                border-radius: 0.5rem;
                border: @border;
                letter-spacing: 0.075rem;
                background-color: @white;
            }

            @media (max-width:698px) {
                h3 {
                    font-size: 2.25rem;
                    line-height: 2.625rem;
                    letter-spacing: -0.045rem;
                }

                p {
                    font-size: 0.9375rem;
                    line-height: 1.1875rem;
                    margin-left: 1rem;
                    margin-right: 1rem;
                }

            }
        }

        .image-container {
            overflow: hidden;
            display: flex;
            position: absolute;
            width: 100%;

            .img5 {
                margin: 7rem 0 0 auto;
            }

            .img3 {
                margin: 12rem 6rem 0 auto;
            }

            .img1 {
                margin: 13rem 0 0 2.37rem;
            }

            .img2 {
                margin: 1.87rem 0 0 auto;
            }

            .img4 {
                margin-top: 6.75rem;
            }

            @media (max-width:1285px) {
                .img1 {
                    margin-left: -4rem;
                    img {
                        width: 6.375rem;
                        height: 5rem;
                    }
                }

                .img2 {
                    img {
                        width: 9.1875rem;
                        height: 7.125rem;
                    }
                }

                .img3 {
                    margin-top: 7rem;
                    margin-right: .5rem;
                    img {
                        width: 4.75rem;
                        height: 3.625rem;
                    }
                }

                .img4 {
                    margin-top: 14rem;
                    margin-left: -8rem;
                    img {
                        width: 11.375rem;
                        height: 8rem;
                    }
                }

                .img5 {
                    margin-top: 9rem;
                    margin-right: -2rem;
                    img {
                        width: 9.75rem;
                        height: 7.875rem;
                    }
                }

                .img6 {
                    margin-right: -4rem;
                    img {
                        width: 5.5rem;
                        height: 5.8125rem;
                    }
                }

            }
        }

        .cont2 {
            margin-top: 30rem;
            @media (max-width:698px) {
                margin-top: 15rem;
            }
        }
    }

    .page3 {
        color: @darkblue;
        text-align: center;

        .section-bottom-title {
            color: @darkblue;
        }

        @media (min-width: 698px) {

            .product-name,
            .product-price {
                color: @text-color-dark;
            }
        }

    }

    .page4 {
        display: flex;
        flex-wrap: wrap;
        background-color: @text-color-dark;
        margin-top: 0;

        @media (max-width: 915px) {
            flex-direction: column;
        }
    }

    .page5 {
        height: 1081px;
        overflow-x: hidden;
        background: url('/assets/img/page5/page5.png') center center/cover no-repeat;

        @import "product.less";

        .chair {
            margin: 6.06rem 0 0 7.87rem;
        }

        .dresser {
            margin: 0 6.75rem 9.81rem 0;
            float: right;
        }

        @media (max-width:985px) {
            height: 664px;

            .product {
                position: fixed;
            }
        }
    }

    .page6 {
        background: @text-color-dark;
        color: @title-color;
        padding-bottom: 1rem;

        .product-info {
            display: flex;

            .lookbook {
                transform: rotate(270deg);
                width: 1.5rem;
                height: 1.5rem;
                padding-right: 1.12rem;
                margin: auto 0 2.87rem;

                @media (max-width: @maxwidth) {
                    display: none;
                }
            }

            .lookbook-content {
                width: 45%;
                padding: 0 10rem;
                text-align: center;
                border-left: @border;
                border-right: @border;
                text-align: center;

                h3 {
                    letter-spacing: -0.14rem;
                    font: 400 3.5rem/4rem Reckless Neue;

                    @media (max-width: @maxwidth) {
                        margin-top: 0rem;
                    }
                }

                p {
                    color: #DFDEDB;
                    margin-top: 25rem;
                    font: 400 0.9375rem/1.1875rem Neue Montreal;

                    @media (max-width: @maxwidth) {
                        margin-top: 3.5rem;
                        margin-bottom: 3.5rem;
                    }
                }

                @media (max-width: 900px) {
                    padding: 1rem 1rem 0rem 1rem;
                }

                @media (max-width: @maxwidth) {
                    width: 90%;
                    border: none;
                }
            }

            .lookbook-img {
                display: flex;
                flex-direction: column;

                .categories,
                .produced {
                    margin-top: 0;
                }

                .materials {
                    margin-top: auto;
                }

                @media (max-width: @maxwidth) {
                    .main-item {
                        display: none;
                    }

                    .produced {
                        border: none;
                    }
                }

                .image-blog {
                    background-color: #E0E0E0;
                    margin: 1.25rem;
                    padding: 1.25rem;

                    .img1 {
                        width: 100%;

                        @media (max-width: @maxwidth) {
                            display: none;
                        }
                    }

                    .img2 {
                        display: none;

                        @media (max-width: @maxwidth) {
                            display: block;
                            width: 100%;
                        }
                    }

                    .row {
                        color: @text-color-dark;
                        padding: 0;
                        margin: 0.62rem 0 5rem 0;
                    }
                }

                @media (max-width: @maxwidth) {
                    width: 100%;

                    .row-block {
                        order: -1;
                    }
                }
            }

            @media (max-width: @maxwidth) {
                display: block;
                width: 100%;
            }
        }

        .section-title {
            margin: 0;
            color: @title-color;
            text-align: center;
        }

        @media (min-width: 698px) {

            .product-name,
            .product-price {
                color: @title-color;
            }
        }

        .section-bottom-title {
            color: @title-color;
            text-align: center;
        }
    }

    .page7 {
        flex-wrap: wrap;

        .text,
        .images {
            display: flex;

            .detail {
                transform: rotate(270deg);
                width: 3rem;
                height: 1.5rem;
                padding-right: 1.12rem;
                margin-top: auto;
                margin-bottom: 2.87rem;
                display: block;

                @media (max-width: @maxwidth) {
                    display: none;
                }
            }

            @media (max-width: @maxwidth) {
                display: contents;
            }
        }

        .text {
            .detail {
                color: @white;
                user-select: none;
            }

            .content {
                border-left: @border;
                text-align: center;
                color: @darkblue;

                h4 {
                    text-align: center;
                    letter-spacing: -0.125rem;
                    margin: 10rem 0 2.5rem 0;
                    font: 400 4.5rem/100% Reckless Neue;

                    @media (max-width:698px) {
                        margin-top: 3.5rem;
                        font-size: 2.25rem;
                    }
                }

                h6 {
                    letter-spacing: 0.075rem;
                    margin-top: 2.5rem;
                    font: 400 0.75rem/0.875rem Neue Montreal;
                }

                p {
                    text-align: center;
                    font: 400 0.9375rem/1.1875rem Neue Montreal;
                    margin: 0 25rem 5.88rem;

                    @media (max-width: 1024px) {
                        margin: 0 10rem;
                    }

                    @media (max-width: @maxwidth) {
                        margin: 0 1rem 3.5rem;
                    }
                }

                @media (max-width: @maxwidthx) {
                    padding: 0 1rem;
                }
            }
        }

        .images {
            border-top: @border;
            width: 100%;

            .order1 {
                padding: .75rem;
                padding-bottom: 1.13rem;
                border-left: @border;
                border-right: @border;
                padding-right: 1.3rem;
                padding-left: 1.3rem;

                img {
                    width: 100%;
                    height: 100%;
                }

                @media (max-width: @maxwidth) {
                    padding: 0rem;
                }
            }

            .order2 {
                padding: .75rem;
                padding-bottom: 1.13rem;
                padding-right: 1.3rem;
                padding-left: 1.3rem;

                img {
                    max-width: 100%;
                    height: auto;
                }

                .img2 {
                    margin-bottom: 2rem;

                    @media (max-width: @maxwidth) {
                        margin-bottom: 0rem;
                        padding-right: .5rem;

                        img {
                            height: 26vh;
                        }
                    }
                }

                @media (max-width: @maxwidth) {
                    display: flex;
                    padding: 0 .5rem;

                    .img3 {
                        padding-right: .53rem;
                    }
                }
            }
        }
    }

    .page8 {
        .product-view {
            overflow-x: hidden;
            background: url('/assets/img/page8/Screenshot\ 2022-09-06\ at\ 20.04\ 3.png') center center/cover no-repeat;
            height: 41.5625rem;
            text-align: center;
            padding-top: 6.44rem;

            @media (max-width: @maxwidth) {
                height: 41.5625rem;

                img {
                    position: fixed;
                }
            }
        }
    }

    .page9 {
        .product-detail {
            flex-wrap: wrap;
            display: flex;

            .product-article {
                flex: 1;
                min-width: calc(33% - 2rem);
                border: none;
                border-bottom: @border;
                padding-top: 1.5rem;

                img {
                    width: 100%;
                }

                .article-text {
                    color: @text-color-dark;

                    .title {
                        letter-spacing: -0.03rem;
                        margin-bottom: 1.5rem;
                        font: normal 400 1.5rem/1.75rem Reckless Neue;
                    }

                    .paragraph {
                        margin-bottom: 1.5rem;
                        font: normal 400 0.9375rem/1.1875rem Neue Montreal;
                    }

                    .subtitle {
                        margin-bottom: 4.38rem;
                    }
                }

                @media (max-width: @maxwidth) {
                    border: none;
                }
            }

            .article1,
            .article2 {
                border-right: @border;
                padding-right: .69rem;
            }

            .article1 {
                padding-left: .94rem;
            }

            .article3 {
                padding-right: .94rem;
            }

            .article2,
            .article3 {
                padding-left: .69rem;

                @media (max-width: @maxwidth) {
                    .subtitle {
                        margin-bottom: 1rem;
                    }
                }
            }

            @media (max-width: @maxwidth) {
                flex-wrap: nowrap;
                display: block;
            }
        }

        .section-bottom-title,
        .section-title {
            text-align: center;
            color: @darkblue;
            margin: 0rem;
        }

        .content {
            display: flex;

            .article-text {
                width: 50%;
                border-left: @border;
                padding: 8.88rem 2.06rem 0;
                color: @darkblue;

                h3 {
                    letter-spacing: -0.14rem;
                    margin: 0rem;
                    font: normal 400 3.5rem/4rem Reckless Neue;
                }

                p {
                    color: @text-color-dark;
                    margin: 3.5rem 0;
                    font: normal 400 0.9375rem/1.1875rem Neue Montreal;
                }

                .subtitle {
                    letter-spacing: 0.075rem;
                    font: normal 400 0.75rem/0.875rem Neue Montreal;
                }
            }

            .article-image {
                width: 50%;
                flex-wrap: wrap;
                overflow: hidden;
                margin: 2.6rem 1.68rem;
            }

            .detail {
                transform: rotate(270deg);
                width: 1.5rem;
                padding-right: 1.12rem;
                margin: auto 0rem 2.87rem 0rem;
                display: block;
            }

            @media (max-width: @maxwidth) {
                display: none;
            }
        }

        .change {
            display: none;

            @media (max-width: @maxwidth) {
                display: flex;
            }
        }
    }

    .page0 {
        background-color: @text-color-dark;
        padding-bottom: 1.37rem;

        .logo {
            padding: 0 3.5rem;

            img {
                padding: 4rem 0;
                flex-wrap: wrap;
                width: 100%;
            }
        }

        .section-bottom-title {
            color: @title-color;
        }
    }
}